.category-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding-top: 30px;
  margin-bottom: 12px;

  @media (max-width: $break-small) {
    gap: 6px;
  }

  .category-btn {
    padding: 6px 16px;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: var(--text-color);
    font-family: $source;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    @include transition(all 0.2s ease);

    &:hover {
      color: var(--text-color);
    }

    &.active {
      background-color: $primary;
      color: #fff;
    }
  }
}

.catalogue {
  &-item {
    border-bottom: 1px solid var(--border-light);
    padding: 36px 0;
    list-style: none;

    &:last-child {
      margin-bottom: 72px;
      border: none;
    }
  }

  &-type {
    color: $primary;
    font-size: 18px;
    font-family: $source;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &-info {
    display: inline-block;

    .catalogue-tag {
      font-family: $source;
      display: inline-block;
      margin-bottom: 2px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      padding: 4px 7px;
      font-size: 13px;
      font-weight: 800;
      margin-bottom: 10px;
      background-color: $yellow;
      border-radius: 8px;

      @media (max-width: $break-medium) {
        margin: 10px 0;
      }
    }

    h1.catalogue-title {
      color: var(--text-color);
      display: block;
      font-family: $san-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: -0.009em;
      position: relative;

      @media (max-width: $break-small) {
        font-size: 22px;
      }
    }

    @media (max-width: $break-medium) {
      display: block;
      width: 100%;
    }

    p.catalogue-sub {
      font-size: 18px;
      color: var(--text-secondary);
      line-height: 1.75;
      padding-bottom: 24px;

      @media (max-width: $break-small) {
        font-size: 16px;
      }
    }

    p.catalogue-body {
      font-size: 16px;
      color: var(--text-secondary);
    }
  }

  .catalogue-draft-message {
    text-align: center;
  }
}

.catalogue-item:hover {
  a {
    text-decoration: none;
  }

  .catalogue-info {
    cursor: pointer;
    opacity: .6;
  }
}

.catalogue-img {
  border-radius: 3px;
}
