<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

<body>

    {% include navigation.html %}

    {% if page.post-header == true %}
        {% include post-header.html %}
    {% endif %}
    {% if page.project-header == true %}
        {% include project-header.html %}
    {% endif %}

    <main>
        {{ content }}

        {% if page.text == true %}
        {% include share.html %}
        {% endif %}
    </main>

    {% include footer.html %}
</body>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSC9VLZ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

</html>
